/*25499f*/

@import url("https://fonts.googleapis.com/css?family=Oswald:600|Source+Serif+Pro");

.landing-page a
{
  color: white;
}

.landing-page
{
  margin-bottom: 50px;
  justify-content: center;
  text-align: center;
}

.landing-page > p
{
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  font-size: 48px;
  text-align: center;
  color: white;
  padding: 10px;
  background-color: #003b5c;
  display: inline-block;
  line-height: 60px;
}

.landing-page img
{
  max-width: auto;
  max-height: 100%;
}


.landing-page .grid-container /*grid container*/
{
  margin: auto;
  margin-top: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  justify-content: center;
  grid-template-areas:
  "story1"
  "story2"
  "story3"
  "story4"
  "story5"
  "story6"
  "story7"
  "story8"
  "story9";

}



@media screen and (min-width: 900px)
{
  .landing-page .grid-container /*grid container*/
  {
    margin: auto;
    margin-top: 20px;
    width: 75%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    justify-content: center;
    grid-template-areas:
    "story1 story2 story3"
    "story4 story5 story6"
    "story7 story8 story9";
  }
}



.landing-page .grid-container > div /*story boxes*/ {
  font-size: 30px;
  text-align: center;
  width: 80vw;
  height: 80vw;
  position: relative;
  text-align: center;
  color: white;
  border: 5px inset #25499f;
  overflow: hidden;
}

@media screen and (min-width: 900px)
{
.landing-page .grid-container > div /*story boxes*/ {
  font-size: 30px;
  text-align: center;
  width: 20vw;
  height: 20vw;
  position: relative;
  text-align: center;
  color: white;
  border: 5px inset #25499f;
  overflow: hidden;
}
}

.landing-page .headline /*headline*/ {
  position: absolute;
  font-size: 24px;
  bottom: 8px;
  left: 16px;
  font-family: 'Source Serif Pro', serif;
  transition: .5s ease;
  opacity: 1;
  text-align: left;
  background-color: #003b5c;
  padding: 5px;
}

@media screen and (min-width: 900px)
{
.landing-page .headline /*headline*/ {
  position: absolute;
  font-size: 18px;
  bottom: 8px;
  left: 16px;
  font-family: 'Source Serif Pro', serif;
  transition: .5s ease;
  opacity: 1;
  text-align: left;
  background-color: #003b5c;
}
}

.landing-page .overlay
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #003b5c;
  text-align: left;
}

.landing-page .overlay-text /*excerpts*/
{
  font-family: 'Source Serif Pro', serif;
  color: white;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 35%;
  margin:0;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transition: .5s ease;
  opacity: 0;
}


@media screen and (min-width: 900px)
{
.landing-page .overlay-text /*excerpts*/
{
  font-family: 'Source Serif Pro', serif;
  color: white;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 35%;
  margin:0;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transition: .5s ease;
  opacity: 0;
}
}

.landing-page .grid-item1{grid-area: story1}
.landing-page .grid-item2{grid-area: story2}
.landing-page .grid-item3{grid-area: story3}
.landing-page .grid-item4{grid-area: story4}
.landing-page .grid-item5{grid-area: story5}
.landing-page .grid-item6{grid-area: story6}
.landing-page .grid-item7{grid-area: story7}
.landing-page .grid-item8{grid-area: story8}
.landing-page .grid-item9{grid-area: story9}

.landing-page .grid-container > div:hover .overlay
{
  opacity: .85;
}

.landing-page .grid-container > div:hover .overlay-text
{
  opacity: 1;
}

.landing-page .grid-container > div:hover .headline
{
  opacity: 0;
}


/* This helps the page look right in the app */

body.ios header {
  display: none;
}

body.ios article.post {
  padding-left: 0;
  padding-right: 0;
}