/*25499f*/

a
{
  color: white;
}

body
{
  margin-top: 150px;
  margin-bottom: 50px;
  justify-content: center;
}

body > p
{
  font-family: 'Source Serif Pro', serif;
  font-size: 80px;
  text-align: center;
  color: white;
  padding: 0;
  line-height: 5%;
  margin-bottom: 100px;
}

img
{
  max-width: auto;
  max-height: 100%;
}



.grid-container /*grid container*/
{
  margin: auto;
  margin-top: 60px;
  width: 75%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  justify-content: center;
}

.grid-container > div /*story boxes*/ {
  font-size: 30px;
  text-align: center;
  width: 20vw;
  height: 20vw;
  position: relative;
  text-align: center;
  color: white;
  border: 5px inset #25499f;
  overflow: hidden;
}

.headline /*headline*/ {
  position: absolute;
  font-size: 18px;
  bottom: 8px;
  left: 16px;
  font-family: 'Source Serif Pro', serif;
  transition: .5s ease;
  opacity: 1;
  text-align: left;
  background-color: #25499f;
}

.overlay
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #25499f;
  text-align: left;
}

.overlay-text /*excerpts*/
{
  font-family: 'Source Serif Pro', serif;
  color: white;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 35%;
  margin:0;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transition: .5s ease;
  opacity: 0;
}

.grid-container > div:hover .overlay
{
  opacity: .85;
}

.grid-container > div:hover .overlay-text
{
  opacity: 1;
}

.grid-container > div:hover .headline
{
  opacity: 0;
}
